{% extends "::base.html.twig" %}

{% block header %}
  <nav class="nav-container">
    <!-- Fichier header commun -->
          <!-- logo Pokenantes -->
          <div id="logo">
             <img src="{{ asset ('bundles/frameworkPoke/img/logo.png')}}" alt="PokeNantes">
          </div>

          <!-- Zone nom utilisateur connecté -->
          <div class="utilisateur">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  {{ 'Bonjour '~ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                  <a href="{{ path('fos_user_security_logout') }}">
                     {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                  </a>
              {% else %}
                  <a href="{{ path('fos_user_security_login') }}">
                    {{ 'Connexion'|trans({}, 'FOSUserBundle') }}
                  </a>
              {% endif %}
          </div>

          <!-- Menu rotatif -->
    			<div class="menu">
    					<ul class="menu-list">
    							<li><a href="{{ path('product_index') }}" class="hyper-link">Accueil
    											<span class="box-animation">
    											<span class="front">Accueil</span>
    											<span class="back">Accueil</span>
    											</span>
    									</a>
    							</li>
    							<li>
    									<a href="{{ path('product_new') }}" class="hyper-link">Créer fiche produit
    											<span class="box-animation">
    											<span class="front">Créer fiche produit</span>
    											<span class="back">Créer fiche produit</span>
    											</span>
    									</a>
    							</li>
    							<li class="li-cat">
    							<a href="#" type="button" class="hyper-link" data-toggle="collapse" data-target="#demo">
    									<span class="glyphicon glyphicon-collapse-down"></span>
    										Liste des catégories
    									<span class="box-animation">
    									<span class="front">Liste des catégories <span class="glyphicon glyphicon-chevron-down"></span></span>
    									<span class="back">Liste des catégories <span class="glyphicon glyphicon-chevron-up"></span></span>
    									</button>
    									</span>
    							</a>
    					</li>
    					</ul>
    			</div>
</nav>

<!-- sous menu liste des catégories -->
  <div class="container">
    <div class="collapse" id="demo">
        <ul>
            <li><a class="cat-nav" href="" name="vetements">Vêtements</a></li>
            <li><a class="cat-nav" href="" name="deguisements">Déguisements</a></li>
            <li><a class="cat-nav" href="" name="jeux">Jeux Vidéos</a></li>
            <li><a class="cat-nav" href="" name="livres">Livres</a></li>
            <li><a class="cat-nav" href="" name="dvd">DVD</a></li>
            <li><a class="cat-nav" href="" name="cd">Musique</a></li>
            <li><a class="cat-nav" href="" name="figurines">Figurines</a></li>
            <li><a class="cat-nav" href="" name="cartes">Cartes Collection</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block section %}

  {# ZONE DE TITRE DE LA PAGE #}
    <div class="back-titre-page">
      <div class="zone-titre-page"><img src="{{ asset ('bundles/frameworkPoke/img/picto-h2.png')}}"/>
        {% block title_page %}{% endblock %}
      </div>
    </div>

    {# CONTENU DES PAGES #}
    <main>
        {% block main %}
            {# appel des différentes vues qui sont dans le dossier 'default' #}
        {% endblock %}
    </main>

{% endblock %}
