{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{# -- title -- #}
{% block title %}Liste produit{% endblock %}

{# -- titre page -- #}

{% block title_page %}<h1>{{ product.prodCat }}</h1><h2><span class="glyphicon glyphicon-menu-right"></span>{{ product.prodName }}</h2>{% endblock %}

{# -- contenu page -- #}

{% block main %}

<form action="{{ path('product_index') }}" method="GET" id="cat" class="categorie">
			<button href="{{ path('product_index') }}" form="cat" class="cat-nav" value="all" name="prod_cat"><span class=" glyphicon glyphicon-triangle-left"></span> Retour à la liste de tous les produits</button>
			<button href="{{ path('product_index') }}" form="cat" class="cat-nav" value="{{product.prodCat}}" name="prod_cat"><span class=" glyphicon glyphicon-triangle-left"></span> Retour à la liste de tous les produits</button>

</form>

{{ form_start(edit_form) }}

			<article id="newProduit">
					<table>
						<caption>
					  		<h3>PRODUIT</h3>
					  	</caption>
						<tr>
							 <th>Nom du produit *</th>
							 <td>

							 	{{ form_row(edit_form.prodName) }}

							 </td>
						</tr>
					  	<tr>
							<th>Catégorie du produit *</th>
							<td>
										{{ form_row(edit_form.prodCat) }}
							</td>
					  	</tr>
					  	<tr>
							<th>Référence du produit *</th>
							<td>

							 	{{ form_row(edit_form.prodRef) }}

							</td>
						</tr>
					</table>

					<table>
						<caption>
					  		<h3>QUANTITE</h3>
					  	</caption>
						<tr>
								<th>Quantité produit </th>
			 				 <td>
			 					{{ form_row(edit_form.prodQty) }}
			 				 </td>
			 				 <th>Etat du produit</th>
			 				 <td>
			 					{{ form_row(edit_form.prodState) }}
							 </td>
						</tr>
					</table>
					{% for Provider in product.ProvidersList %}
					<table>
						<caption>
					  		<h3>FOURNISSEUR</h3>
					  	</caption>
						<tr>
							 <th>Nom du fournisseur *</th>

							 <td>{{ form_row(edit_form.ProvidersList) }}</td>
						</tr>

					</table>
					{% endfor %}
					<table>
						<caption>
					  		<h3>PARTICULARITE</h3>
					  	</caption>
						<tr>
							 <th>Total produits défaillants *</th>
							 <td>

							 	{{ form_row(edit_form.prodQtyDefect) }}

							 </td>
						</tr>
					</table>

					<table>
						<caption>
					  		<h3>DESCRIPTIF</h3>
					  	</caption>
						<tr>
							 <th>Nom de la photo : (png/jpg)</th>
							 <td>


								{{ form_row(edit_form.prodPicture) }}

								<img class="imgProd" src="{{ asset('bundles/frameworkPoke/img/')}}{{ product.prodPicture }}"/>
							 </td>
						</tr>
					  	<tr>
					  		<th>Descriptif</th>
								<td>{{ form_row(edit_form.prodDesc) }}</td>
					  	</tr>
					</table>
				<h6>* champs obligatoires</h6>
	<div id="button">
			  <form action="" method="GET"   class="categorie">
						<input href="{{ path('product_edit', { 'id': product.prodId }) }}" class="btn" type="submit" action="edit" value="Valider"/>
				</form>
		{{ form_end(edit_form) }}

		{{ form_start(delete_form) }}
				<input class="btn" type="submit" value="Supprimer">
		{{ form_end(delete_form) }}
						<p value="Annuler"><span class="glyphicon glyphicon-remove"> Annuler</span></p>
		</div>
		</article>
{% endblock %}
