{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{# -- title -- #}
{% block title %}Liste produit{% endblock %}

{# -- titre page -- #}

{% block title_page %}<h1>{{ product.prodName }}</h1>{% endblock %}

{# -- contenu page -- #}

{% block main %}
<form method="GET">
			<article id="newProduit">
					<table>
						<caption>
					  		<h3>PRODUIT</h3>
					  	</caption>
						<tr>
							 <th>Nom du produit *</th>
							 <td>
							 	<input type="text" required="required" value="{{ product.prodName }}">
							 </td>
						</tr>
					  	<tr>
							<th>Catégorie du produit *</th>
							<td> {{ product.prodCat }}

										<select name="nom" size="1" selected="{{ product.prodCat }}">
										<option>Vêtements
										<option>Déguisements
										<option>Jeux Vidéos
									  <option>Livres
										<option>DVD
										<option>CD
										<option>Figurines
										<option>Cartes de Collection
										</select>

							</td>
					  	</tr>
					  	<tr>
							<th>Référence du produit *</th>
							<td>
							 	<input type="text" required="required" value="{{ product.prodRef }}">
							</td>
						</tr>
					</table>

					<table>
						<caption>
					  		<h3>QUANTITE</h3>
					  	</caption>
						<tr>
								<th>Achats neufs</th>
			 				 <td>
			 					<input type="text" value="{{ product.prodQty }}">
			 				 </td>
			 				 <th>Etat du produit</th>
			 				 <td>
			 					<input type="text" value="{{ product.prodState }}">
							 </td>
						</tr>
					</table>
					{% for Provider in product.ProvidersList %}
					<table>
						<caption>
					  		<h3>FOURNISSEUR</h3>
					  	</caption>
						<tr>
							 <th>Nom du fournisseur *</th>
							 <td>
							 	<input type="text" required="required" value="{{ Provider.provName }}">
							 </td>
						</tr>
					  	<tr>
							<th>Numéro de téléphone *</th>
							<td>
								<input type="text" required="required" value="{{ Provider.provPhone }}">
							</td>
					  	</tr>
							<th>Type de fournisseur</th>
							<td>
								<input type="text" required="required" value="{{ product.prodState }}">
							</td>
							</tr>
					</table>
					{% endfor %}
					<table>
						<caption>
					  		<h3>PARTICULARITE</h3>
					  	</caption>
						<tr>
							 <th>Total produits défaillants *</th>
							 <td>
							 	<input type="text" required="required" value="{{ product.prodQtyDefect }}">
							 </td>
						</tr>
					</table>

					<table>
						<caption>
					  		<h3>DESCRIPTIF</h3>
					  	</caption>
						<tr>
							 <th>Nom de la photo (JPG/PNG) *</th>
							 <td>
							 	<input type="text" required="required" placeholder="nom de l'image" value="{{ product.prodPicture }}">
								<img src="{{ asset('bundles/frameworkPoke/img/')}}{{ product.prodPicture }}"/>
							 </td>
						</tr>
					  	<tr>
					  		<th>Descriptif</th>
								<td><textarea value="{{ product.prodDesc }}">{{ product.prodDesc }}</textarea></td>
					  	</tr>
					</table>
				<h6>* champs obligatoires</h6>
			  <div class="button">
					  <a href="{{ path('product_edit', { 'id': product.prodId }) }}" class="btn" action="edit" value="Edit">valider</input>
						<a href="{{ path('product_delete', { 'id': product.prodId }) }}" class="btn" value="Supprimer">Supprimer</a>
						<p value="Annuler"><span class="glyphicon glyphicon-remove"> Annuler</span></p>
				</div>
		</article>
		</form>
{% endblock %}
