{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{% block nav %}
<!-- Fichier header commun -->

			<!-- logo Pokenantes -->
			<div id="logo">
				 <img src="{{ asset ('bundles/frameworkPoke/img/logo.png')}}" alt="PokeNantes">
			</div>


<!-- Menu rotatif -->
			<div class="menu">
					<ul class="menu-list">
							<li><a href="{{ path('product_index') }}" class="hyper-link">Accueil
											<span class="box-animation">
											<span class="front">Accueil</span>
											<span class="back">Accueil</span>
											</span>
									</a>
							</li>
							<li>
									<a href="{{ path('product_new') }}" class="hyper-link">Créer fiche produit
											<span class="box-animation">
											<span class="front">Créer fiche produit</span>
											<span class="back">Créer fiche produit</span>
											</span>
									</a>
							</li>
							<li class="li-cat">
							<a href="#" type="button" class="hyper-link" data-toggle="collapse" data-target="#demo">
									<span class="glyphicon glyphicon-collapse-down"></span>
										Liste des catégories
									<span class="box-animation">
									<span class="front"><span class="glyphicon glyphicon-chevron-down"></span>Liste des catégories</span>
									<span class="back"><span class="glyphicon glyphicon-chevron-up"></span>Liste des catégories</span>
									</button>
									</span>
							</a>
					</li>
					</ul>
			</div>
			<!--------->
			<!-- Zone nom utilisateur connecté -->
			<div class="utilisateur">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ 'Bonjour '~ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
							<a href="{{ path('fos_user_security_logout') }}">
								 {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
							</a>
					{% else %}
							<a href="{{ path('fos_user_security_login') }}">
								{{ 'Connexion'|trans({}, 'FOSUserBundle') }}
							</a>
					{% endif %}
			</div>

<!-- sous menu liste des catégories -->
	<div class="container">
		<div class="collapse" id="demo">
				<ul>
						{% for product in products %}
						<li><a class="cat-nav" href="{{ path('product_show', { 'id': product.prodId }) }}">{{ product.prodRef }}</a></li>
						{% endfor %}
				</ul>
		</div>
</div>

{% endblock %}
