{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{# -- title -- #}
{% block title %}Liste Catégorie{% endblock %}

{# -- titre page -- #}
{% block title_page %}<h1>{{ categorie }}</h1>{% endblock %}

{# -- contenu page -- #}
{% block main %}
<div class="container">
	<div>
			<ul>
					<li><button target="all" class="cat-nav showall">Tous les produits</button></li>
					<li><button target="rupture" type="button"  class="cat-nav show">En rupture de stock</button></li>
					<li><button target="defaillant" type="button"  class="cat-nav show">Produits défaillants</button></li>
			</ul>
	</div>
</div>
<article id="listeCat">
	{% for product in products %}
{% if product.prodQtyDefect != 0 %}
<div class="proddefaillant prod">
{% elseif product.prodQty == 0 %}
<div class="prodrupture prod">
{% else %}
<div class="prod">
{% endif %}
		<div class="buttonListeCat">
			<a href="{{ path('product_edit', {'id':product.prodId}) }}" class="btn" type="submit" action="edit" value="Détail">Détail</a>
			<a href="{{ path('product_delete', {'id':product.prodId}) }}" class="btn" type="submit" action="delete" value="Supprimer">Supprimer</a>
		</div>
		<!-- IMAGE -->
		<div class="left">
		<span>
			<img src="{{ asset('bundles/frameworkPoke/img/imgbase.png')}}"/>
		</span>
		</div>
		<div class="right">
			<h2>
				<a href="{{ path('product_edit', { 'id': product.prodId }) }}">
					{{ product.prodName }}
				</a>
			</h2>
		<!-- REF / CATEGORIE -->
		<div>
			<ul>
				<li><b>Catégorie : </b>{{ product.prodCat }}</li>
				<li><b>Référence du produit : </b><a href="{{ path('product_edit', { 'id': product.prodId }) }}">{{ product.prodRef }}</a></li>
			</ul>
		</div>
		<!-- BOUCLE QUATITÉ // RUPTURE DE STOCK -->
		{% if product.prodQty != 0 %}
				<div>
						<ul>
								<li><b>Quantité : </b>{{ product.prodQty }}</li>
								<!-- IF OCCASION OU NEUF -->
									{% if product.prodState == 'O' %}
										<li><b>État du produit : </b>Occasion</li>
									{% else %}
										<li><b>État du produit : </b>Neuf</li>
									{% endif %}
							</ul>
					</div>
			{% else %}
				{% for Provider in product.ProvidersList %}
				 <div>
						<ul>
							<li><p class="mentionspeciale"><img src="{{ asset('bundles/frameworkPoke/img/pictos/mentionspe.png')}}"/> En rupture de stock</p>
						</ul>
					<div>
					</div>
						<ul>
							<li><b>Nom du fournisseur : </b>{{ Provider.provName }}</li>
								<!-- <li><b></b>{{ Provider.provType }}</li> -->
							<li><b>Numéro de téléphone : </b>{{ Provider.provPhone }}</li>
						</ul>
					</div>
				{% endfor %}
			{% endif %}
			{% if product.prodQtyDefect != 0 %}
					{% for Provider in product.ProvidersList %}
					<div>
						<ul>
							<li><p class="mentionspeciale"><img src="{{ asset('bundles/frameworkPoke/img/pictos/mentionspe.png')}}"/><b>Quantité produit Défectueux :</b> {{ product.prodQtyDefect }}</p></li>
						</ul>
					</div>
					<div>
						<ul>
							<li><b>Nom du fournisseur : </b>{{ Provider.provName }}</li>
								<!-- <li><b></b>{{ Provider.provType }}</li> -->
							<li><b>Numéro de téléphone : </b>{{ Provider.provPhone }}</li>
						</ul>
					</div>
					{% endfor %}
			{% endif %}
		</div>
		<!-- fin div class="right" -->
	</div>
{% endfor %}
</article>
<script src="{{ asset('bundles/frameworkPoke/js/show.js') }}"></script>
{% endblock %}
