{% extends 'NosBundlesProductBundle::layout.html.twig' %}

{# -- title -- #}
{% block title %}Liste Catégorie{% endblock %}

{# -- titre page -- #}
{% block title_page %}<h1>Nom catégorie</h1>{% endblock %}

{# -- contenu page -- #}
{% block main %}
<article>
{% for product in products %}
<div class="container">
	<div>
			<ul>
					<li><a class="cat-nav" href="" name="vetements">Tous les produits</a></li>
					<li><a class="cat-nav" href="" name="deguisements">En rupture de stock</a></li>
					<li><a class="cat-nav" href="" name="jeux">Produits défaillants</a></li>

			</ul>
	</div>
</div>
<article id="listeCat">
		<div class="liste">
		<h3>
		<a href="{{ path('product_edit', { 'id': product.prodId }) }}">
			{{ product.prodName }}
		</h3>
		<div class="buttonListeCat">
				<a href="a href="{{ path('product_edit', { 'id': product.prodId }) }}"" class="edit"><img  src="{{ asset('bundles/frameworkPoke/img/pictos/edit.png')}}"/></a>
				<a href="#" class="remove"><img  src="{{ asset('bundles/frameworkPoke/img/pictos/remove.png')}}"/></a>

		</div>
			<span>
				<img src="{{ asset('bundles/frameworkPoke/img/imgbase.png')}}"/>
				<div>
						<ul>
								<li><b>Référence du produit :</b><a href="{{ path('product_show', { 'id': product.prodId }) }}">{{ product.prodRef }}</a></li>
								<li><b>Nom catégorie : </b>{{ product.prodCat }}</li>
						</ul>
				</div>
			{% if product.prodQty != 0 %}
					<div>
							<ul>
									<li><b>Quantité neuf : </b>{{ product.prodQty }}</li>
									<li><b>Quantité occasion : </b></li>
							</ul>
					</div>
			{% else %}
				{% for Provider in product.ProvidersList %}
					<div>
							<img src="{{ asset('bundles/frameworkPoke/img/pictos/mentionspe.png')}}"/>
							<p>En rupture de stock</p>
							<ul>
								<li>{{ Provider.provName }}</li>
								<li>{{ Provider.provType }}</li>
								<li>{{ Provider.provPhone }}</li>
							</ul>
					 </div>
				{% endfor %}
			{% endif %}
			{% if product.prodQtyDefect != 0 %}
					<div>
						<img src="{{ asset('bundles/frameworkPoke/img/pictos/mentionspe.png')}}"/>
						<p>En rupture de stock</p>
						<ul>
							<li><b>Quantité produit défectueux  : </b>{{ product.prodQtyDefect }}</li>
						</ul>
					</div>
			{% endif %}
		</div>
{% endfor %}
</article>
{% endblock %}
